<div class="panel panel-primary">
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">

        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' 
                    [(ngModel)]='listFilter'/> <!-- Two-way Binding [(ngModel)]='data' -->
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf="products && products.length"><!-- Directive *ngIf: the element will not show if rhs is false --> 
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='toggleImage()'> <!-- Event Binding (event)='func()' -->
<!-- Interpolation with expressions -->{{isImageShowed ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor = "let product of products | productFilter: listFilter"> <!-- using custom pipe -->
                        <td>
                            <img *ngIf='isImageShowed'
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='80'
                                [style.margin.px]='imageMargin'> <!-- Property Binding [property]='data' -->
                        </td>
                        <td><a [routerLink]="['/product', product.productId]"> <!-- pass parameter to route -->
                            {{product.productName}}</a></td> <!-- Interpolation -->
                        <td>{{product.productCode | lowercase}}</td> <!-- Interpolation + Pipe -->
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'USD':true:'1.2-2'}}</td> <!-- Interpolation + Pipe with arguments -->
                        <td>
                            <ai-star [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
                                 <!-- Nested Component 
                                 Input:  []='' property binding
                                 Output:  ()='' event binding
                                  -->
                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>